name = "Jokes"
uuid = "51dfaa90-333b-4553-a411-bc8026e4957c"
authors = ["Gareth Thomas <gareth.bj.thomas@gmail.com>"]
version = "0.0.2"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
